.btn-1 {
    background-color: hsl(0, 0%, 0%);
    color: white;
}

.btn-2 {
    background-color: hsl(55, 100%, 50%);
}

.btn-1,
.btn-2 {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}